:root {
    --primario: #1d1e33;
    --secundario: #ffffff;
    --terciario: #880101;
    --jumbotron: #ee8e07;
    --linkhover: #89c6f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron { 
    padding: 50px; /* fills out the jumbotron */
    background-color: var(--primario);
    color: var(--primario);
    /*background-image: url('/assets/images/background4.png');
    background-repeat: no-repeat;
    background-size: cover;
    */
    text-align: justify;
    /*vertical-align: text-top;*/
    /*border-radius: 50px 50px 50px 50px;*/
}

.jumbotron-container {

    display: flex;

    /*
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100%;
    */

}

.jumbotron-gallery{
    position: relative;
    width: 100%;
    max-width: 100%;
    text-align: center;
    /*margin: 0 2px;*/ /* espacio entre images*/
}

.jumbotron-gallery>div {
    position: relative;
    bottom:25px;
    color: var(--primario);
    background-color: var(--jumbotron);
    padding:2px 10px;
    opacity:0.5;
    font-weight:bolder;
    font-size: 2rem;
    margin: 0 4px;
}

.divisor-vertical {
    border-left: 1px solid var(--jumbotron);
    height: 500px;
}

.jumbotron-imagen {
    max-width: 100%;
    width: 100%;
    height: 300px;
    margin: 2rem 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /*border-radius: 15px 50px 30px 5px;*/
    /*border-radius:10%;*/
    border: solid var(--linkhover) 5px; 

}

.jumbotron-imagen-izquierda {
    max-width: 100%;
    display: flex;
    width: 25%;
    margin: 2rem 0;
    /*border-radius: 15px 50px 30px 5px;*/
    /*border-radius:18%;*/
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border: solid white 1px; 
    position: flex;
}

.jumbotron-imagen-derecha {
    max-width: 100%;
    display: flex;
    width: 25%;
    margin: 2rem 0;
    /*border-radius: 5px 30px 50px 15px;*/
    /*border-radius:18%;*/
    border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0px;
    border: solid white 1px; 
    position: flex;
}

.gallery {
    max-width: 100%;
    display: flex;
    width: 25%;
    margin: 0 2px;
    /*border-radius: 15px 50px 30px 5px;*/
    border-radius:18%;
    /*border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;*/
    border: solid var(--primario) 2px; 
    position: flex;
    background-color: var(--secundario);
}

.text-listjumbotron {
    text-align: center;
    color: var(--secundario);
    padding: 2rem;
    font-size: 3rem;
    font-weight:lighter;
}

.clients { 
    padding: 15rem 0;
    margin-top: 10rem;
    background-color: var(--primario);
    color: var(--primario);
}

.clients-container {
    display: flex;
}

.clients-gallery {
    max-width: 100%;
    display: flex;
    width: 20%;
    margin: 0 2px;
    /*border-radius: 15px 50px 30px 5px;*/
    border-radius:18%;
    /*border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;*/
    border: solid var(--primario) 2px; 
    position: flex;
    background-color: var(--secundario);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/*utilidades*/
.container {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.myheader {
    background-color: var(--jumbotron);
    color: var(--secundario);
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Para encabezado fijo */
    position: fixed;
    width: 100%;
    height: 120px;
}

.mylogo {
    width: 110px;
    margin: 2rem 0;
    /*border-radius: 15px 50px 30px 5px;*/
    border-radius:18%;
    /* border: solid white 1px; */
}

.navigation {
    display: flex;
    /* border: solid white 1px; */
}

.link {
    color: var(--primario);
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    padding: 3rem;
}

.link:hover {
    color: var(--linkhover);
    background-color: var(--primario);
}

/* Contenido principal */

.content-main {
    /* background-color: red; */
    /* border: solid white 1px; */
    background-color: var(--primario);
    /* Para encabezado fijo */
    padding-top: 130px;
    /*height: 50px;*/
}

.container-main {
    /* border: solid blue 1px; */
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
    height: 100px;
    line-height: 90px;
    background-image: url('/assets/images/background1.png');
    vertical-align: middle;
    text-align: center;
    border-radius: 50px 50px 50px 50px;
}

.banner {
    width: 100%;
    height: 150px;
    /* border: solid white 1px; */
}

.text-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    color: var(--secundario);
}

.text-welcome {
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
    margin: 0.75rem 0;
    color: var(--secundario);
}

.section-service {
    /* fixed header */
    margin-top: 1rem;
    padding-top: 20px;
    background-color: var(--linkhover);
    color: var(--primario);
    padding: 15rem;
}

.section-service h2{
    font-size: 4.6rem;
    text-align: center;
}

.service {
    background-color: var(--linkhover);
}

.list-service {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.text-service {
    text-align: center;
    color: var(--secundario);
    padding: 2rem;
}

.text-service h3 {
    margin: 0;
}

.text-service p {
    margin: 0 0 .5rem 0;
    font-size: 2rem;
}

.text-service .price {
    font-size: 2.8rem;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    background-color: rgb(197, 145, 0);
    display: block;
    color: var(--secundario);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    font-size: 2rem;
}

.btn:hover {
    background-color: rgb(158, 116, 0);
    cursor: pointer;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

/* contacto */
.about {
    margin-top: 1rem;
    background-image: linear-gradient( to right, transparent 50%, #010188eb 50%, #010188eb 100% ), url('/assets/images/logo.png');
    background-position: left center;
    padding: 5rem 0;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
}

.about-grid {
    display: flex;
    justify-content: flex-end;
}

.about-text {
    padding: 10rem 0;
    flex-basis: 50%;
    padding-left: 10rem;
    color: var(--secundario);
    font-size: 2.5rem;
}

.form-contact input {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--primario);
}

/*span {
    font-size: 2rem;
    width:100%;
    color: var(--secundario);
    display: flex;
}*/

.form-contact textarea {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--primario);
}

.form-contact button {
    background-color: var(--linkhover);
    display: block;
    color: var(--secundario);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    font-size: 2rem;
    width: 100%;
}

.form-contact button:hover {
    background-color: var(--terciario);
    cursor: pointer;
}

.form-contact {
    margin-top: 5rem;
}

.form-contact-inline {
    margin-top: 5rem;
    display: inline-flex;
}

.form-contact-inline input {
    width: 150%;
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
    border: 3px solid var(--primario);
}

.form-contact-inline button {
    background-color: var(--linkhover);
    display: block;
    color: var(--secundario);
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: 3px solid;
    font-size: 2rem;
    width: 100%;
    height: 100%;
}

.form-contact-inline button:hover {
    background-color: var(--terciario);
    cursor: pointer;
}

.form-contact-inline-text {
    color: var(--secundario);
    font-size: 2rem;
    width: 100%;
}

.site-footer {
    margin-top: 1rem;
    background-color: var(--primario);
    background-image: url('/assets/images/background4.png');
    padding: 15rem;
}

.site-footer-text{
    color: var(--primario);
    background-color: goldenrod;
    padding: 2rem 0;
    flex-basis: 50%;
    padding-left: 10rem;
    font-size: 2.5rem;
}

.site-footer-text-slogan{
    color: var(--linkhover);
    background-color: var(--primario);
    padding: 2rem 0;
    flex-basis: 50%;
    padding-left: 10rem;
    font-size: 2.5rem;
    text-align: center;
}

.site-footer-gallery {
    width: 100%;
    display: flex;
    color: var(--primario);
    background-color: goldenrod;
    padding-left: 10rem;
    padding-right: 10rem;
    max-width: 100%;
}

.site-footer-link {
    color: var(--primario);
    background-color: goldenrod;
    padding: 1rem;
    width: 25%;
}

.nt-img{
    padding: 2rem 0;
    flex-basis: 50%;
    width: 50%;
    cursor: pointer;
    border-radius: 18%;
}

.copyright {
    text-align: center;
    font-size: 3rem;
    color: var(--secundario);
    font-weight: bold;
}

.circle{
    width:30px;
    height:30px;
    background:cyan;
    border-radius:50%;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    animation: circle 6s linear infinite;
}
  
@keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-165px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-165px)
                rotate(-360deg);
    }
}

/* The container */
.label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .label-check {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .label-container:hover input ~ .label-check {
    background-color: var(--primario);
  }
  
  .label-container input:checked ~ .label-check {
    background-color: #2196F3;
  }
  
  .label-check:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .label-container input:checked ~ .label-check:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .label-container .label-check:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }